<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163017922978-abpbqo578nqn6v3hgo22trvm06jldcpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163017922978-abpbqo578nqn6v3hgo22trvm06jldcpl</string>
	<key>API_KEY</key>
	<string>AIzaSyA9BdKQO-J41Y6ZKJTTUyTntSxwLbn39CU</string>
	<key>GCM_SENDER_ID</key>
	<string>163017922978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Krish.TimeExplorer</string>
	<key>PROJECT_ID</key>
	<string>trippin-89b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>trippin-89b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163017922978:ios:ebc2ce1f8bf03147f6bafb</string>
	<key>DATABASE_URL</key>
	<string>https://trippin-89b8b.firebaseio.com</string>
</dict>
</plist>